<div class="web-sidebar">
<div class="sidebar-items">
		<ul class="list-unstyled">
			<li class="title">
				Spielmanagement
			</li>
			<li class="sidebar-item">
				<a href="#" class="gray">
				Spieldaten
				</a>
			</li>
			<li class="sidebar-item">
				<a href="/me">{{ _("My Account") }}</a>
			</li>
		</ul>
		</div>
</div>

<script>
frappe.ready(function() {
	$('.sidebar-item a').each(function(index) {
	        if(this.href.trim() == window.location)
	            $(this).addClass("active");
	    });
});
</script>