{% extends "templates/web.html" %}

{% block title %}{{ _("Aufgebot") }}{% endblock %}
{% block header %}<h1>{{ _("Erstellung Aufgebot") }}</h1>{% endblock %}

{% block page_sidebar %}
{% include "templates/pages/web_sidebar.html" %}
{% endblock %}

{% block page_content %}
<div style="height: 30vh; overflow-x: hidden; overflow-y: scroll; padding-left: 25px;">
<div id="reserve" class="row" ondrop="reserve_drop(event)" ondragover="allowDrop(event)">
{% for spieler in alle_spieler %}
 <div class="col-md-2 hidden-xs" draggable="true" ondragstart="drag(event)" id="{{ spieler.vorname }} {{ spieler.nachname }}">
 <div class="card">
  <img class="card-img" draggable="false" src="{% if spieler.bild %}{{ spieler.bild }}{% else %}/assets/teamplaner/image/img_avatar.png{% endif %}" alt="{{ spieler.vorname }} {{ spieler.nachname }}">
  <div class="card-container">
    <p><b>{{ spieler.nachname }}</b><br>{{ spieler.position }}</p>
  </div>
</div> 
</div>

{% endfor %}
</div>
</div>




<div id="linie1" ondrop="linie1_drop(event)" ondragover="allowDrop(event)">
<div class="div2">Column 1</div>
</div>
{% endblock %}


