{% extends "templates/web.html" %}

{% block title %}{{ _("Aufgebot") }}{% endblock %}
{% block header %}<h1>{{ _("Erstellung Aufgebot") }}</h1>{% endblock %}



{% block page_content %}
<div style="height: 30vh; overflow-x: hidden; overflow-y: scroll; padding-left: 25px;">
<div id="reserve" class="row" ondrop="reserve_drop(event)" ondragover="allowDrop(event)">
{% for spieler in alle_spieler %}
 <div class="col-md-2 hidden-xs" draggable="true" ondragstart="drag(event)" id="{{ spieler.vorname }} {{ spieler.nachname }}">
 <div class="card">
  <img class="card-img" draggable="false" src="{% if spieler.bild %}{{ spieler.bild }}{% else %}/assets/teamplaner/image/img_avatar.png{% endif %}" alt="{{ spieler.vorname }} {{ spieler.nachname }}">
  <div class="card-container">
    <p><b>{{ spieler.nachname }}</b><br>{{ spieler.position }}</p>
  </div>
</div> 
</div>

{% endfor %}
</div>
</div>
<table style="border: 1px solid black; width: 100%;">
	<tr>
		<td height=100 class="table-aufgebot" style="width: 33%; border: 1px solid black;" ondrop="l1d1_drop(event)" ondragover="allowDrop(event)"><div id="l1d1" class="row"></div></td>
		<td style="width: 33%; border: 1px solid black;"></td>
		<td class="table-aufgebot" style="width: 33%; border: 1px solid black;" ondrop="l1d2_drop(event)" ondragover="allowDrop(event)"><div id="l1d2" class="row"></div></td>
	</tr>
	<tr>
		<td height=100 style="width: 33%; border: 1px solid black;"></td>
		<td class="table-aufgebot" style="width: 33%; border: 1px solid black;" ondrop="l1c_drop(event)" ondragover="allowDrop(event)"><div id="l1c" class="row"></div></td>
		<td style="width: 33%; border: 1px solid black;"></td>
	</tr>
	<tr>
		<td class="table-aufgebot" height=100 style="width: 33%; border: 1px solid black;" ondrop="l1f1_drop(event)" ondragover="allowDrop(event)"><div id="l1f1" class="row"></div></td>
		<td style="width: 33%; border: 1px solid black;"></td>
		<td class="table-aufgebot" style="width: 33%; border: 1px solid black;" ondrop="l1f2_drop(event)" ondragover="allowDrop(event)"><div id="l1f2" class="row"></div></td>
	</tr>
</table>
{% endblock %}


