{% extends "templates/web.html" %}

{% block title %}{{ _("Meisterschaft") }}{% endblock %}
{% block header %}<h1>{{ _("Meisterschaft") }}</h1>{% endblock %}

{% block page_content %}
<h2>{{ tabelle["data"]["title"] }}</h2>
	<a style="color: #36414c;" href="https://api-v2.swissunihockey.ch/api/calendars?season={{ season }}&league={{ league }}&game_class={{ game_class }}&group={{ group }}"><img style="margin-bottom: 5px;" src="https://www.swissunihockey.ch/packages/su_spieldaten/blocks/su_spieldaten/img/ico-calendar-ics.svg" height="28" width="28"> Alle Spiele als iCalendar-Datei downloaden</a>
	<table class="table" style="width: 100%; font-size: 13px;">
		<thead class="thead-dark">
			<tr>
				<th>Rg.</th>
				<th>Team</th>
				<th>Sp</th>
				<th>S</th>
				<th>U</th>
				<th>N</th>
				<th>T</th>
				
				<th>P</th>
			</tr>
		</thead>
		<tbody>
		{% for ranking in tabelle["data"]["regions"][0]["rows"] %}
			<tr>
				{% for details in ranking["cells"] %}
					{% if loop.index == 1 %}
						<td>{{ details["text"][0] }}</td>
					{% elif loop.index == 2 %}
						<td><img src='{{ details["image"]["url"] }}'></td>
					{% elif loop.index == 8 %}
					{% else %}
						{% if loop.index != 3 %}
						<td>{{ details["text"][0] }}</td>
						{% endif %}
					{% endif %}
				{% endfor %}
			</tr>
		{% endfor %}
		</tbody>
	</table>
	<br><h2>{{ resultate["data"]["title"] }}</h2><br>
	<table class="table" style="width: 100%; font-size: 10px;">
		<thead class="thead-dark">
			<tr>
				<th>Wann</th>
				<th>Heim</th>
				<th>Gast</th>
				<th>Resultat</th>
			</tr>
		</thead>
		<tbody>
		{% for spiel in resultate["data"]["regions"][0]["rows"] %}
			<tr>
				<td><div>{{ spiel["cells"][0]["text"][0] }}, {{ spiel["cells"][0]["text"][1] }}</div><div class="hidden-xs">{{ spiel["cells"][1]["text"][0] }}, {{ spiel["cells"][1]["text"][1] }}</div></td>
				<td>{{ spiel["cells"][2]["text"][0] }}</td>
				<td>{{ spiel["cells"][3]["text"][0] }}</td>
				<td>{{ spiel["cells"][4]["text"][0] }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	{% endblock %}