{% extends "templates/web.html" %}

{% block title %}{{ _("Scorerboard") }}{% endblock %}
{% block header %}<h1>{{ _("Scorerboard") }}</h1>{% endblock %}

{% block page_sidebar %}
{% include "templates/pages/web_sidebar.html" %}
{% endblock %}

{% block page_content %}
<form>
	<div class="form-group">
		<label for="sel1">Spiel</label>
		<select class="form-control" id="spiel">
			{% for spiel in spiele %}
				<option>{{ spiel }}</option>
			{% endfor %}
		</select>
	</div>
</form>

	 // <br>
<table class="table table-hover">
<thead>
  <tr>
	<th>Spieler</th>
	<th>Tore</th>
	<th>Assists</th>
	<th>Update</th>
  </tr>
</thead>
<tbody>
{% for tabelle in tabellendaten %}
  <tr data-spiel='{{ tabelle.spiel }}' data-mail='{{ tabelle.mail }}'>
	<td>{{ tabelle.vorname }} {{ tabelle.nachname }}</td>
	<td>
		<div class="form-group">
		  <input type="text" class="form-control" value="{{ tabelle.tor }}">
		</div>
	</td>
	<td>
		<div class="form-group">
		  <input type="text" class="form-control" value="{{ tabelle.assist }}">
		</div>
	</td>
	<td><button class="btn btn-primary">Update</button></td>
  </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}



