{% extends "templates/web.html" %}

{% block title %}{{ _("Spiele") }}{% endblock %}
{% block header %}<h1>{{ _("Spiele") }}</h1>{% endblock %}

{% block page_sidebar %}
{% include "templates/pages/web_sidebar.html" %}
{% endblock %}

{% block page_content %}
<div class="panel-group" id="accordion_kurz">
{% for training in trainings_kurz %}
	<div class="panel panel-default">
		<div class="panel-heading">
		  <h4 class="panel-title">
			<a data-toggle="collapse" data-parent="#accordion_kurz" href="#{{ training.name }}">
			{{ training.beschriftung }} ({{ teilnehmer[training.name] }}) - {{ training.gegner }}<br>{% if training.aufgebot_status == 1 %}<i class="fa fa-check-circle"></i> Aufgebot verfügbar{% else %}<i class="fa fa-times-circle"></i> Aufgebot nicht verfügbar{% endif %}</a>
		  </h4>
		</div>
		<div id="{{ training.name }}" class="panel-collapse collapse">
		  <div class="panel-body">
			<table style="width: 100%">
				<tr>
					<td style="width: 70%"><i class="fa fa-bell"></i> von {{ training.von }} bis {{ training.bis }}<br>&nbsp;<i class="fa fa-map-marker"></i> {{ training.ort or 'Keine Angabe' }}</td>
					<td style="width: 30%">{% if training.aufgebot_status == 1 %}<a onclick="show_aufgebot('{{ training.name }}')"><i class="fa fa-cloud-download"></i> Aufgebot</a>{% endif %}</td>
				</tr>
			</table>
			<h4>Teilnehmer</h4>
			<table style="width: 100%">
				{% for sp in spieler[training.name] %}
				<tr {% if sp[3] == frappe.session.user %}onclick="change_anwesenheit('{{ training.name }}', frappe.session.user, '{{ sp[2] }}', this);" {% endif %}style="{% if sp[2] == 'Anwesend' %}background-color: #50D050;{% else %}background-color: red;{% endif %}{% if sp[3] == frappe.session.user %} border: dotted;{% endif %}">
					<td style="width: 10%; height: 30px;">&nbsp;{% if sp[3] == frappe.session.user %}<i class="fa fa-exchange"></i>{% else %}{% if sp[2] == 'Anwesend' %}<i class="fa fa-check-circle"></i>{% else %}<i class="fa fa-times-circle"></i>{% endif %}{% endif %}</td>
					<td style="width 90%; height: 30px;">{{ sp[0] }} {{ sp[1] }}</td>
				</tr>
				{% endfor %}
			</table>
		  </div>
		</div>
	 </div>
{% endfor %}
</div> 

<button type="button" class="btn btn-primary btn-block" onclick="alle_trainings_laden();" id="show_all_btn">Alle Trainings laden</button>

<div class="panel-group hidden" id="accordion">
{% for training in trainings %}
	<div class="panel panel-default">
		<div class="panel-heading">
		  <h4 class="panel-title">
			<a data-toggle="collapse" data-parent="#accordion" href="#{{ training.name }}">
			{{ training.beschriftung }} ({{ teilnehmer[training.name] }}) - {{ training.gegner }}<br>{% if training.aufgebot_status == 1 %}<i class="fa fa-check-circle"></i> Aufgebot verfügbar{% else %}<i class="fa fa-times-circle"></i> Aufgebot nicht verfügbar{% endif %}</a>
		  </h4>
		</div>
		<div id="{{ training.name }}" class="panel-collapse collapse">
		  <div class="panel-body">
			<table style="width: 100%">
				<tr>
					<td style="width: 70%"><i class="fa fa-bell"></i> von {{ training.von }} bis {{ training.bis }}<br>&nbsp;<i class="fa fa-map-marker"></i> {{ training.ort or 'Keine Angabe' }}</td>
					<td style="width: 30%">{% if training.aufgebot_status == 1 %}<a onclick="show_aufgebot('{{ training.name }}')"><i class="fa fa-cloud-download"></i> Aufgebot</a>{% endif %}</td>
				</tr>
			</table>
			<h4>Teilnehmer</h4>
			<table style="width: 100%">
				{% for sp in spieler[training.name] %}
				<tr {% if sp[3] == frappe.session.user %}onclick="change_anwesenheit('{{ training.name }}', frappe.session.user, '{{ sp[2] }}', this);" {% endif %}style="{% if sp[2] == 'Anwesend' %}background-color: #50D050;{% else %}background-color: red;{% endif %}{% if sp[3] == frappe.session.user %} border: dotted;{% endif %}">
					<td style="width: 10%; height: 30px;">&nbsp;{% if sp[3] == frappe.session.user %}<i class="fa fa-exchange"></i>{% else %}{% if sp[2] == 'Anwesend' %}<i class="fa fa-check-circle"></i>{% else %}<i class="fa fa-times-circle"></i>{% endif %}{% endif %}</td>
					<td style="width 90%; height: 30px;">{{ sp[0] }} {{ sp[1] }}</td>
				</tr>
				{% endfor %}
			</table>
		  </div>
		</div>
	 </div>
{% endfor %}
</div> 
{% endblock %}




