{% extends "templates/web.html" %}

{% block title %}{{ _("TeamPlaner") }}{% endblock %}

{% block page_content %}
{% if me %}
<div class="row">
<div class="col-md-8">
{% endif %}
<center><img src="assets/teamplaner/image/hcr_krone.png" style="max-width: 33%;"></center>
{% if me %}
</div>
<div class="col-md-4">
<img class="mx-auto d-block" src="{{ user_data.user_image }}" alt="{{ user_data.full_name }}" height="200" width="200" style="margin-bottom: 5px;"> 
	<center>
		<div class="btn-group">
			<button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown">
				Öffne...
			</button>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="/update-password">Passwort zurücksetzen</a>
				<a class="dropdown-item" href="/bussen">Meine Bussen</a>
				<a class="dropdown-item" href="/trainings">Trainings</a>
				<a class="dropdown-item" href="/spiele">Spiele</a>
				<a class="dropdown-item" href="/meisterschaft">Meisterschaft</a>
				<a class="dropdown-item" href="/statistik">Statistik</a>
			</div>
		</div>
	</center>
	<div class="form-group">
		<label for="usr">Name:</label>
		<input type="text" class="form-control" id="usr" value="{{ spieler_data.vorname }} {{ spieler_data.nachname }}" readonly>
		<label for="rueckennummer">Rückennummer:</label>
		<input type="text" class="form-control" id="rueckennummer" value="{{ spieler_data.rueckennummer }}" readonly>
		<label for="lizenz">Lizenz Nr.:</label>
		<input type="text" class="form-control" id="lizenz" value="{{ spieler_data.lizenznummer }}" readonly>
	</div>
</div>
</div>
{% endif %}
<!--{#{% if logo %}
	<center><img src="{{ logo }}" style="max-width: 50%;"></center>
{% else %}
<div class="jumbotron">
	<center><h1>TeamPlaner</h1></center>
	<center><p>Ein Tool von libracore zur Planung und Organisation von Sport-Terminen</p></center><br>
	<center><a href="/login" class="btn btn-primary" role="button">Anmelden</a></center>
</div>
{% endif %}#}-->
{% endblock %}



