{% extends "templates/web.html" %}

{% block title %}{{ _("Statistik") }}{% endblock %}
{% block header %}<h1>{{ _("Teamstatistiken") }}<br>{{ frappe.utils.get_datetime(saisondaten.saison_von).strftime('%d.%m.%Y') }} {{ _("bis") }} {{ frappe.utils.get_datetime(saisondaten.saison_bis).strftime('%d.%m.%Y') }}</h1>{% endblock %}

{% block page_sidebar %}
{% include "templates/pages/web_sidebar.html" %}
{% endblock %}

{% block page_content %}
<h2>Scorerliste</h2>
<div class="col-xs-12">
<div id="scorer_top_ten"></div>
</div>
<h2>Saisonverlauf</h2>
<div class="col-xs-12">
<div id="saisonverlauf"></div>
</div>
<h2>Meine Präsenz</h2>
<div class="col-xs-12">
<div id="spieler_all_over"></div>
</div>
<div class="col-xs-12">
<div id="spieler_monat"></div>
</div>
<h2>Team Präsenz</h2>
<div class="col-xs-12">
<div id="total_monat"></div>
</div>
{% for spieler in presenz_alle_spieler %}
{% set ref = spieler.details.name | replace("-", "") %}
<div class="col-xs-12">
{% for formspieler in formkurve %}
	{% if spieler.details.mail == formspieler.details.mail %}
	<span class="{% if formspieler.formkurve|len == 5 %}{% if formspieler.formkurve[4][0] == "Anwesend" %}fa fa-thumbs-up checked-ok {% else %}fa fa-thumbs-down checked-nok{% endif %}{% else %}fa fa-question{% endif %}"></span>
	<span class="{% if formspieler.formkurve|len >= 4 %}{% if formspieler.formkurve[3][0] == "Anwesend" %}fa fa-thumbs-up checked-ok {% else %}fa fa-thumbs-down checked-nok{% endif %}{% else %}fa fa-question{% endif %}"></span>
	<span class="{% if formspieler.formkurve|len >= 3 %}{% if formspieler.formkurve[2][0] == "Anwesend" %}fa fa-thumbs-up checked-ok {% else %}fa fa-thumbs-down checked-nok{% endif %}{% else %}fa fa-question{% endif %}"></span>
	<span class="{% if formspieler.formkurve|len >= 2 %}{% if formspieler.formkurve[1][0] == "Anwesend" %}fa fa-thumbs-up checked-ok {% else %}fa fa-thumbs-down checked-nok{% endif %}{% else %}fa fa-question{% endif %}"></span>
	<span class="{% if formspieler.formkurve|len >= 1 %}{% if formspieler.formkurve[0][0] == "Anwesend" %}fa fa-thumbs-up checked-ok {% else %}fa fa-thumbs-down checked-nok{% endif %}{% else %}fa fa-question{% endif %}"></span>
	{% endif %}
{% endfor %}
</div>
<div class="col-xs-12">
<div id="{{ ref }}"></div>
</div>
{% endfor %}
<script src="https://unpkg.com/frappe-charts@1.1.0/dist/frappe-charts.min.iife.js"></script>
{% endblock %}



