{% extends "templates/web.html" %}

{% block title %}{{ _("Statistik") }}{% endblock %}
{% block header %}<h1>{{ _("Statistik") }}</h1>{% endblock %}

{% block page_content %}
	
	<h2>Anwesenheitsstatistik</h2><br>
	{% for spieler in spieler_statistik %}
		<div id='{{ spieler["id"] }}'></div>
	{% endfor %}
	<script src="https://unpkg.com/frappe-charts@1.2.4/dist/frappe-charts.min.iife.js"></script>
	<script>
		{% for spieler in spieler_statistik %}
			const data{{ spieler["id"]|replace("-", "") }} = {
				labels: ["Anwesend", "Abwesend"
				],
				datasets: [
					{
						name: "Anwesend",
						values: [{{ spieler["anwesend"]|int }}, {{ spieler["abwesend"]|int }}]
					}
				]
			};

			const chart{{ spieler["id"]|replace("-", "") }} = new frappe.Chart("#{{ spieler["id"] }}", {  // or a DOM element,
														// new Chart() in case of ES6 module with above usage
				title: "{{ spieler["spieler"] }}",
				data: data{{ spieler["id"]|replace("-", "") }},
				type: 'percentage',
				height: 100,
				colors: ['#00cc33', '#ff0000']
			});
		{% endfor %}
	</script>
{% endblock %}



