{% extends "templates/web.html" %}

{% block title %}{{ _("Trainings") }}{% endblock %}
{% block header %}<h1>{{ _("Trainings") }}</h1>{% endblock %}

{% block page_sidebar %}
{% include "templates/pages/web_sidebar.html" %}
{% endblock %}

{% block page_content %}
<div class="panel-group" id="accordion_kurz">
{% for training in trainings_kurz %}
	{% set stundensperre = frappe.utils.date_diff(training.name, frappe.utils.now()) %}
	<div class="panel panel-default">
		<div class="panel-heading"
		{% for sp in spieler[training.name] %}
		{% if sp[3] == frappe.session.user %}
		{% if sp[2] == 'Anwesend' %}
		 style="background-color: lightgreen;"
		{% else %}
		 style="background-color: lightcoral;"
		{% endif %}
		{% endif %}
		{% endfor %}
		>
		  <h4 class="panel-title">
			<!--{# <a data-toggle="collapse" data-parent="#accordion_kurz" href="#{{ training.name }}">
			{{ training.beschriftung }} ({{ teilnehmer[training.name] }}) - {{ training.ort or 'Ort nicht definiert' }}</a> #}-->
			<a data-toggle="collapse" data-parent="#accordion_kurz" href="#{{ training.name }}"><center>
			{{ training.beschriftung }} - {{ training.ort or 'Ort nicht definiert' }}<br>{{ teilnehmende_spieler[training.name] }} & {{ teilnehmende_goalies[training.name] }}</center></a>
		  </h4>
		</div>
		<div id="{{ training.name }}" class="panel-collapse collapse">
		  <div class="panel-body">
			<div><center>
			{% for sp in spieler[training.name] %}
				{% if sp[3] == frappe.session.user %}
					{% if sp[2] == 'Anwesend' %}
						<label class="switch">
						  <input type="checkbox"{% if stundensperre < 1 %} disabled{% endif %} checked onclick="change_anwesenheit('{{ training.name }}', frappe.session.user, '{{ sp[2] }}', this);">
						  <span class="slider round"></span>
						</label>
						{% if stundensperre < 1 %}
							<br>Die Anmeldefrist ist abgelaufen
						{% else %}
							<br>An-/Abmeldung
						{% endif %}
					{% else %}
						<label class="switch">
						  <input type="checkbox"{% if stundensperre < 1 %} disabled{% endif %} onclick="change_anwesenheit('{{ training.name }}', frappe.session.user, '{{ sp[2] }}', this);">
						  <span class="slider round"></span>
						</label>
						{% if stundensperre < 1 %}
							<br>Die Anmeldefrist ist abgelaufen
						{% else %}
							<br>An-/Abmeldung
						{% endif %}
					{% endif %}
				{% endif %}
			{% endfor %}
			<br><br><button type="button" class="btn btn-info" onclick="add_bemerkung('{{ training.name }}');"><i class="fa fa-comment"></i> Bemerkung erfassen</button>
			</center></div><br>
			<div><center>
				<i class="fa fa-bell"></i> von {{ training.von }} bis {{ training.bis }}<br>&nbsp;<i class="fa fa-map-marker"></i> {{ training.ort or 'Keine Angabe' }}
			</center></div><br>
			<h4>Teilnehmer Übersicht</h4>
			<table style="width: 100%">
				{% for sp in spieler[training.name] %}
				<tr style="{% if sp[2] == 'Anwesend' %}background-color: #50D050;{% else %}background-color: red;{% endif %}">
					<td style="width: 10%; height: 30px;">&nbsp;{% if sp[2] == 'Anwesend' %}<i class="fa fa-check-circle"></i>{% else %}<i class="fa fa-times-circle"></i>{% endif %}</td>
					<td style="width 90%; height: 30px;">{{ sp[0] }} {{ sp[1] }}</td>
				</tr>
				{% if sp[4] %}
				<tr>
					<td style="width: 10%; height: 30px;"></td>
					<td style="width 90%; height: 30px;">{{ sp[4] }}</td>
				</tr>
				{% endif %}
				{% endfor %}
			</table>
		  </div>
		</div>
	 </div>
{% endfor %}
</div> 

<button type="button" class="btn btn-primary btn-block" onclick="alle_trainings_laden();" id="show_all_btn">Alle Trainings laden</button>


<div class="panel-group hidden" id="accordion">
{% for training in trainings %}
	{% set stundensperre = frappe.utils.date_diff(training.name, frappe.utils.now()) %}
	<div class="panel panel-default">
		<div class="panel-heading"
		{% for sp in spieler[training.name] %}
		{% if sp[3] == frappe.session.user %}
		{% if sp[2] == 'Anwesend' %}
		 style="background-color: lightgreen;"
		{% else %}
		 style="background-color: lightcoral;"
		{% endif %}
		{% endif %}
		{% endfor %}
		>
		  <h4 class="panel-title">
			<!--{# <a data-toggle="collapse" data-parent="#accordion_kurz" href="#{{ training.name }}">
			{{ training.beschriftung }} ({{ teilnehmer[training.name] }}) - {{ training.ort or 'Ort nicht definiert' }}</a> #}-->
			<a data-toggle="collapse" data-parent="#accordion" href="#{{ training.name }}"><center>
			{{ training.beschriftung }} - {{ training.ort or 'Ort nicht definiert' }}<br>{{ teilnehmende_spieler[training.name] }} & {{ teilnehmende_goalies[training.name] }}</center></a>
		  </h4>
		</div>
		<div id="{{ training.name }}" class="panel-collapse collapse">
		  <div class="panel-body">
			<div><center>
			{% for sp in spieler[training.name] %}
				{% if sp[3] == frappe.session.user %}
					{% if sp[2] == 'Anwesend' %}
						<label class="switch">
						  <input type="checkbox"{% if stundensperre < 1 %} disabled{% endif %} checked onclick="change_anwesenheit('{{ training.name }}', frappe.session.user, '{{ sp[2] }}', this);">
						  <span class="slider round"></span>
						</label>
						{% if stundensperre < 1 %}
							<br>Die Anmeldefrist ist abgelaufen
						{% else %}
							<br>An-/Abmeldung
						{% endif %}
					{% else %}
						<label class="switch">
						  <input type="checkbox"{% if stundensperre < 1 %} disabled{% endif %} onclick="change_anwesenheit('{{ training.name }}', frappe.session.user, '{{ sp[2] }}', this);">
						  <span class="slider round"></span>
						</label>
						{% if stundensperre < 1 %}
							<br>Die Anmeldefrist ist abgelaufen
						{% else %}
							<br>An-/Abmeldung
						{% endif %}
					{% endif %}
				{% endif %}
			{% endfor %}
			<br><br><button type="button" class="btn btn-info" onclick="add_bemerkung('{{ training.name }}');"><i class="fa fa-comment"></i> Bemerkung erfassen</button>
			</center></div><br>
			<div><center>
				<i class="fa fa-bell"></i> von {{ training.von }} bis {{ training.bis }}<br>&nbsp;<i class="fa fa-map-marker"></i> {{ training.ort or 'Keine Angabe' }}
			</center></div><br>
			<h4>Teilnehmer Übersicht</h4>
			<table style="width: 100%">
				{% for sp in spieler[training.name] %}
				<tr style="{% if sp[2] == 'Anwesend' %}background-color: #50D050;{% else %}background-color: red;{% endif %}">
					<td style="width: 10%; height: 30px;">&nbsp;{% if sp[2] == 'Anwesend' %}<i class="fa fa-check-circle"></i>{% else %}<i class="fa fa-times-circle"></i>{% endif %}</td>
					<td style="width 90%; height: 30px;">{{ sp[0] }} {{ sp[1] }}</td>
				</tr>
				{% if sp[4] %}
				<tr>
					<td style="width: 10%; height: 30px;"></td>
					<td style="width 90%; height: 30px;">{{ sp[4] }}</td>
				</tr>
				{% endif %}
				{% endfor %}
			</table>
		  </div>
		</div>
	 </div>
{% endfor %}
</div> 
{% endblock %}



